{% extends 'base.html'%}

{%block content%}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Sobre Nosotros</h1>
      <p class="lead">Mi nombre es Dario, inicie este estilo de proyecto debido a que contaba con la idea y el material para 
                     llevarlo adelante. Aurora Bakery es un emprendimiento familiar iniciado a comienzo de 2020 y nace de la necesidad 
                     de afrontar la pandemia, nos dedicamos a la pasteleria artesanal teniendo como premisa la variedad de sabores y texturas. </p>
    </div>
  </div>




{%endblock%}