{% extends 'base.html'%}

{% block title %}
    Creacion Alfajores
{%endblock%}

{% block content%}
    <h1> Crea tu alfajor </h1>

    {% if form %}

    <form action="" method='POST'>

        {% csrf_token %}

        <table>
            {{form}}
        </table>

        <input type="submit" value= "Crear alfajor">

        {%else%}
        <p> Alfajor Creado Exitosamente!!!</p>

   
    {% endif%}

        {% if form_errors %}
                {{form_errors}}
        {% endif %}


    {% endblock%}