{% extends 'base.html'%}

{%block content%}




{% if message %}
  <h2>{{message}}</h2>
  
{%endif%}

<div class="card-deck">
  <div class="card">
    <img src="https://pbs.twimg.com/media/FoJFwTnX0Agud6c?format=jpg&name=small" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
  </div>
  <div class="card">
    <img src="https://pbs.twimg.com/media/FoJChIIWAAI1GET?format=jpg&name=small" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
  </div>
  <div class="card">
    <img src="https://pbs.twimg.com/media/FoJFa_zXgAIpy1l?format=jpg&name=small" class="card-img-top" alt="...">
    <div class="card-body">
    </div>
  </div>
</div> 





{%endblock%}