{% extends 'base.html'%}

{% block title %}
 Actualizacio de Usuario
{%endblock%}

{% block content%}
    <h3> Por favor completa los campos que desees cambiar </h3>

    {% if form %}

    <form action="" method='POST'>

        {% csrf_token %}

        <table>
            {{form.as_table}}
        </table>

            
    

        <input type="submit" value= "Actualizar">

     {% endif %}

    {% if errors %}
    
            {{errors}}
               

    {% endif %}    

    {% endblock%}